<h1 mat-dialog-title>{{uri}}</h1>
<div mat-dialog-content>
  @if (!analyse) {
    <p><em>Loading...</em></p>
  }

  @if (analyse && !analyse.erGyldigJson) {
    <p>Inneholdet er ikke gyldig JSON</p>
  }
  @if (analyse && analyse.erGyldigJson) {
    <table>
      <tr>
        <td>Inneholder JSON: </td>
        <td>JA</td>
      </tr>
      <tr>
        <td>Rotelement: </td>
        <td>{{analyse.rotElement}}</td>
      </tr>
      @if (analyse.skjemanavn) {
        <tr>
          <td>JSON-skjema: </td>
          <td>{{analyse.skjemanavn}}</td>
        </tr>
      }
      @if (!analyse.skjemanavn) {
        <tr>
          <td>JSON-skjema: </td>
          <td>{{analyse.skjemavalideringsfeil}}</td>
        </tr>
      }
      @if (!analyse.erSkjemavalidert && analyse.skjemanavn && analyse.skjemavalideringsfeil) {
        <tr>
          <td>Skjemavalideringsfeil: </td>
          <td>{{analyse.skjemavalideringsfeil}}</td>
        </tr>
      }
      @if (analyse.erSkjemavalidert) {
        <tr>
          <td>Skjemavalidering: </td>
          <td>OK</td>
        </tr>
      }
      @if (!analyse.kanDekrypteres && analyse.dekrypteringsfeil) {
        <tr>
          <td>Dekrypteringsfeil: </td>
          <td>{{analyse.dekrypteringsfeil}}</td>
        </tr>
      }
      @if (analyse.kanDekrypteres) {
        <tr>
          <td>Thumbprint: </td>
          <td>{{analyse.thumbprint}}</td>
        </tr>
      }
      @if (analyse.kanDekrypteres) {
        <tr>
          <td>Antall bytes dekryptert: </td>
          <td>{{analyse.antallBytesDekryptert}}</td>
        </tr>
      }
      @if (analyse.kanDekrypteres) {
        <tr>
          <td>Filnavn dekryptert fil: </td>
          <td>{{analyse.dekryptertFilnavn}}</td>
        </tr>
      }
    </table>
  }

  <br />
  @if (analyse && analyse.erGyldigJson && analyse.kanDekrypteres) {
    <a href="{{krypterUrl}}?uri={{uri}}&skjemanavn={{analyse.skjemanavn}}" download="{{analyse.dekryptertFilnavn}}">Last ned dekryptert melding</a>
  }
  @if (analyse && !analyse.kanDekrypteres) {
    <p>
      Kan ikke dekrypteres
      (<a href="{{krypterUrl}}?uri={{uri}}&skjemanavn={{analyse.skjemanavn}}" download="test.json">Prøv likevel</a>)
    </p>
  }

  @if (analyse && analyse.skjemavalideringsfeilDekryptert.length == 0) {
    <p>
      <strong>Dekryptert melding er gyldig i henhold til skjema</strong>
    </p>
  }

  @if (analyse && analyse.skjemavalideringsfeilDekryptert.length > 0) {
    <p>
      <strong>Skjemavalideringsfeil dekryptert melding</strong>
    </p>
  }

  @if (analyse && analyse.skjemavalideringsfeilDekryptert) {
    <ul>
      @for (feil of analyse.skjemavalideringsfeilDekryptert; track feil) {
        <li>{{feil}}</li>
      }
    </ul>
  }

</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Lukk</button>
</mat-dialog-actions>
