@if (folderEntry!.isFile) {
  <mat-list-item>
    <mat-icon mat-list-icon>description</mat-icon>
    <h4 mat-line>{{ folderEntry!.name }}</h4>
  </mat-list-item>
}

@if (!folderEntry!.isFile) {
  <mat-expansion-panel [togglePosition]="'before'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ folderEntry!.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    @if (folderEntry!.isOpen) {
      <mat-list>
        @for (child of folderEntry!.children; track child) {
          <app-folder [folderEntry]="child"></app-folder>
        }
      </mat-list>
    }
  </mat-expansion-panel>
}
